<article class="networkUpgrade">
    <img src="img/networkUpgradeBanner.jpg"  ng-top-banner-height />
    <article ng-top-banner-height="padding">
        <h3>
            חבילת הגלישה הנוכחית שלך היא במהירות של
            <span class="download">2.5MB</span>
        </h3>
        <p>
            עם חבילת גלישה של
        </p>
        <label class="formLabel">
            <span class="icon icon-arrow-down orange"></span>
            <select class="selectField">
                <option>10 MB</option>
                <option>20 MB</option>
                <option>30 MB</option>
                <option>40 MB</option>
            </select>
        </label>
        <p>
            תוכל לצרוך <span class="orange">30%</span> יותר בשניה ולהנות הרבה יותר מהרשת שלך
        </p>
        <p class="center">
            <span class="disabled button rowButton">
                <span class="icon icon-speedometer"></span>
                שדרגו אותי
            </span>
        </p>
    </article>
</article>